/*
* index.css
* Ian Barker
* used for index.jade
*/

body {
    background-color: #FFD1AA;
    color: #4F628E;
}

.container-auto {
    margin: 0 auto;
}



h1 {
    margin-top: 100px;
    margin-bottom: 50px;
    font-weight: bold;
    text-align: center;
    font-size: 60px;
}

/* navigation-bar */
.navigation-bar {
    position: fixed;
    top: 20px;
    right: 20px;
    
    background: inherit;
}

.navigation-bar-button {
    color: #4F628E;
    margin: 0 5px;
    font-size: 16px;
}

.navigation-bar-button:hover {
    color: #0b0080;
    cursor: pointer;
}

#bottom {
    height: 60vh;
  
}

#featuresLinks {
    background-color: inherit;  
    padding-bottom: 20px;
}

/* features */
.features {
    margin: 10px auto;
    
}



.feature-block {
    width: 30%;
    display: inline-block;
}

.features .arrow {
    width: 5%;
    display: inline-block;
    font-size: 60px;
    position: relative;
    height: 250px;

}

.arrow i {
    position: absolute;
    top: 85px;
    
}

.feature {
    color: #ffffff;
    background-color: #D49A6A;
    
    border: 2px solid #552700;
    border-radius: 5px;
    
    font-size: 20px;
    width: 250px;
    height: 250px;
    font-weight: 600;
    
    margin: 10px auto;
    
    display: table;
    
   
}

.feature p {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

/* links */
.links {
    margin: 5px auto;
    text-align: center;
}

.links-div {
    display: inline-block;
}

.links p {
    font-size: 25px;
    margin: 15px;
    color: #4F628E;
}

.links .button {
    color: #ffffff;
    text-decoration: none;
    padding: 12px 5px;
    margin: 3px 0;
    font-size: 35px;
}

.button-right-rounded {
    border-radius: 0 10px 10px 0;
}

#signupLinks {
    background-color: #116611;
}

#signupLinks:hover, #signupLinks:active, #signupLinks:active:hover {
    background-color: #55AA55;
}

#loginLinks {
    background-color: #580101;
}

#loginLinks:hover, #loginLinks:active, #loginLinks:active:hover {
    background-color: #AA3939;
}