body {
    background-color: #E5E5FF;
}

h1 {
    margin-top: 50px;
    font-size: 40px;
}

.div-form {
    margin: 25px 0;
}

.form-label, .form-input {
    display: block;
}

.form-button {
    margin: 15px 0;
    border: none;
    background-color: #fff;
    box-shadow: 2px 2px 1px 1px #000;
}

.form-button:hover, .form-button:active {
    background-color: #E5E5FF;
}

.form-button:active {
    box-shadow: -1px -1px 1px 1px #000;
}

.switch {
    font-size: 20px;
}