body {
    background-color: #3D7BB2;
    position: relative;
}

#login-signup {
    margin-top: 50px;
}

h1 {
    color: #fff;
}

form .form-input {
    display: block;
    margin: 10px 0 10px 10px;
}

form .form-button {
    background-color: #FFB44B;
    margin-left: 10px;
    min-width: 161px;
    line-height: 38px;
    border-radius: 6px;
    color: #1D198E;
    font-size: 20px;
    border: none;
}

form .form-button:hover {
    background-color: #FFD59A;
    text-decoration: none;
}

.switch {
    color: #fff;
    margin: 10px 0;
}

.switch a {
    color: #fff;
}

.switch a:hover {
    color: #F7F7F7;
    text-decoration: underline;
}