body {
  background-color: #E5E5FF;
  font-size: 24px; }
  body .header {
    text-align: center;
    margin: 10px auto 100px auto; }
    body .header h1, body .header .header-buttons {
      display: inline-block;
      margin: 1rem auto;
      vertical-align: middle; }
    body .header h1 {
      font-size: 40px;
      font-weight: bold;
      font-style: italic; }
    body .header .header-buttons {
      float: right;
      font-size: 16px; }
      body .header .header-buttons .header-button {
        line-height: 22px;
        margin: 11px 10px;
        background-color: #B4DEB9;
        color: #000;
        border: 1px solid #2E8639;
        border-radius: 3px;
        font-weight: bold; }
        body .header .header-buttons .header-button:hover {
          background-color: #84C58C; }
  body .body .poll-container {
    margin: 1em auto;
    background-color: #F5F6FA;
    border: 1px solid #000;
    border-radius: 5px; }
    body .body .poll-container h4 {
      font-size: 30px;
      background-color: #ACB5CF;
      margin: 0;
      padding: 10px;
      border-bottom: 1px solid #587272;
      border-radius: 5px 5px 0 0; }
    body .body .poll-container .polls .poll {
      padding: 5px 5px 4px 5px;
      border-bottom: 1px solid #587272; }
      body .body .poll-container .polls .poll:last-child {
        border-bottom: none; }
      body .body .poll-container .polls .poll .poll-question, body .body .poll-container .polls .poll .poll-options {
        display: inline-block;
        vertical-align: middle; }
      body .body .poll-container .polls .poll .poll-question {
        padding-left: 5px; }
      body .body .poll-container .polls .poll .poll-options {
        float: right; }
        body .body .poll-container .polls .poll .poll-options .poll-option {
          background-color: #B4DEB9;
          border-radius: 3px;
          border: 1px solid #2E8639;
          line-height: 24px;
          color: #000;
          font-weight: 300;
          margin: 0 3px; }
          body .body .poll-container .polls .poll .poll-options .poll-option:hover {
            background-color: #84C58C; }
          body .body .poll-container .polls .poll .poll-options .poll-option.share, body .body .poll-container .polls .poll .poll-options .poll-option.unshare {
            width: 74.0625px; }
  body .all-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.6); }
    body .all-modal .indiv-modal {
      display: none;
      background-color: #526391;
      border: 2px solid #000;
      border-radius: 7px;
      padding: 20px 10px; }
      body .all-modal .indiv-modal h3 {
        text-align: center;
        font-size: 40px;
        font-weight: 700;
        margin: 0 auto 10px auto; }
      body .all-modal .indiv-modal.new-poll, body .all-modal .indiv-modal.edit-poll {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff; }
        body .all-modal .indiv-modal.new-poll form, body .all-modal .indiv-modal.edit-poll form {
          padding: 10px; }
          body .all-modal .indiv-modal.new-poll form .label-input, body .all-modal .indiv-modal.edit-poll form .label-input {
            display: block;
            height: 50px; }
            body .all-modal .indiv-modal.new-poll form .label-input .form-label, body .all-modal .indiv-modal.new-poll form .label-input .form-input, body .all-modal .indiv-modal.edit-poll form .label-input .form-label, body .all-modal .indiv-modal.edit-poll form .label-input .form-input {
              vertical-align: middle;
              display: inline-block; }
            body .all-modal .indiv-modal.new-poll form .label-input .form-label, body .all-modal .indiv-modal.edit-poll form .label-input .form-label {
              float: left;
              margin-right: 10px; }
            body .all-modal .indiv-modal.new-poll form .label-input .form-input, body .all-modal .indiv-modal.edit-poll form .label-input .form-input {
              float: right;
              width: 250px;
              color: #000; }
          body .all-modal .indiv-modal.new-poll form .form-button, body .all-modal .indiv-modal.edit-poll form .form-button {
            background-color: #B4DEB9;
            color: #000;
            border: 1px solid #2E8639;
            width: 140.25px; }
            body .all-modal .indiv-modal.new-poll form .form-button:hover, body .all-modal .indiv-modal.edit-poll form .form-button:hover {
              background-color: #84C58C; }
          body .all-modal .indiv-modal.new-poll form .choice-appended, body .all-modal .indiv-modal.edit-poll form .choice-appended {
            display: block;
            margin: 4px auto;
            background-color: #FFE5CE;
            color: #000;
            border: 1px solid #AD713C;
            min-width: 121px;
            max-width: 360px;
            text-align: center; }
            body .all-modal .indiv-modal.new-poll form .choice-appended:hover, body .all-modal .indiv-modal.edit-poll form .choice-appended:hover {
              background-color: #FFD2AA; }
          body .all-modal .indiv-modal.new-poll form #edit-poll-add-choice, body .all-modal .indiv-modal.new-poll form #new-poll-add-choice, body .all-modal .indiv-modal.edit-poll form #edit-poll-add-choice, body .all-modal .indiv-modal.edit-poll form #new-poll-add-choice {
            display: block;
            margin: 10px auto; }
          body .all-modal .indiv-modal.new-poll form #new-poll-submit, body .all-modal .indiv-modal.new-poll form #edit-poll-submit, body .all-modal .indiv-modal.edit-poll form #new-poll-submit, body .all-modal .indiv-modal.edit-poll form #edit-poll-submit {
            position: absolute;
            bottom: 2%;
            left: 50%;
            transform: translateX(-50%); }
      body .all-modal .indiv-modal.view-results {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 600px;
        color: #fff;
        height: auto; }
        body .all-modal .indiv-modal.view-results h3 {
          padding-bottom: 20px; }
        body .all-modal .indiv-modal.view-results .results-list-form {
          width: 50%;
          float: left;
          padding-left: 50px; }
        body .all-modal .indiv-modal.view-results .results-chart-form {
          width: 50%;
          float: right; }

/*# sourceMappingURL=profile.css.map */
