head
   title Voting App
   
   link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
   link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
   link(type="css/text", rel="stylesheet", href="/css/index.css")

  
body
   div.container-fluid#top
      div.container
         h1 Welcome to Voting App!
         div.navigation-bar
            ul
               li
                  a.navigation-bar-button#loginFixed(href="/login.html") Log In
               li
                  a.navigation-bar-button#signupFixed(href="/signup.html") Sign Up
   div.container-fluid#middle
      div.container#featuresLinks
         div.features
            div.feature-block
               div.feature
                  p Make polls quickly and easily with the ability to change them later.
            i.fa.fa-arrow-right
            div.feature-block
               div.feature
                  p Share polls with the click of a button whether to let anyone vote on them.
            i.fa.fa-arrow-right
            div.feature-block
               div.feature
                  p View results in multiple ways for every individual poll.
         div.links
            div.links-div
               p Ready To Get Started?
               a.button#signupLinks(href="/signup.html") Sign Up Now!
            div.links-div
               p Already have an account?
               a.button#loginLinks(href="/login.html") Log In Here!
      div.container#footer
         p &copy; 2016 Ian Barker